// Colors
$primary-clr: hsl(240, 31%, 33%);
$primary-clr-light: hsl(240, 12%, 47%);
$accent-clr: hsl(164, 82%, 67%);
$accent-clr-dark: hsl(164, 50%, 60%);

// Fonts
$primary-font: 'Poppins', sans-serif;
$accent-font: Hustle Bright, sans-serif;
